.mainContainer {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 20px;
}

.container {
  height: 100%;
  position: relative;
  margin: 5px;
}
.resizableElement {
  height: 200px;
  width: 200px;
  position: absolute;
}
.top-left {
  left: 5px;
  background: rgb(156, 149, 250);
}
.top-right {
  right: 5px;
  background: rgb(139, 214, 228);
}
.bottom-left {
  bottom: 0px;
  left: 5px;
  background: rgb(150, 233, 150);
}
.bottom-right {
  bottom: 0px;
  right: 5px;
  background: rgb(232, 233, 150);
}
.centred {
  background: #f18f8f;
  left: calc(50% - (100px));
  top: calc(50% - (100px));
  border: 3px solid green;
}
